extends layout_common

block css
	//- Date Time Picker
	link(href='/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' rel='stylesheet')
	//- Select
	link(href='/plugins/bootstrap-select/css/bootstrap-select.css' rel='stylesheet')

block content
	.block-header
		h2 DELETE STUDENT RECORD
	.row.clearfix.formrow
		.card
			.header.bg-blue
				h2  Student List
			.body
				table#userTable.table.table-hover.table-striped.table-bordered.table-condensed
					thead
						tr
							th #
							th Room No
							th Student Name
							th College Name
							th Branch Name
							th Action
							th.hidden
					tbody#users
						if clients != undefined
							for client, index in clients
								tr
									td #{index+1}
									td #{client.WhmcsId}
									td #{client.clientName}
									td #{client.userName}
									td #{client.email}
									td 
										button#edit_button.btn.bg-red.waves-effect(type='button') EDIT
									td.hidden #{client.clientId}
						else
							tr
								td 1
								td -101-
								td -Abc-
								td -pqr-
								td -cse-
								td 
									button#edit_button.btn.bg-red.btn-block.waves-effect(type='button') DELETE
								td.hidden Student Id
block scripts
	//- Moment Js
	script(src='/plugins/momentjs/moment.js')
	//- Date Time Picker
	script(src='/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js')
	//- Page Script
	script(src='/js/pages/delete-student.js')